<div class="schools"></div>
<div class="schools-nav">
	<ul>
		<li><a class="harvard" data-school="harvard">Harvard</a></li>
		<li><a class="uc-berkeley" data-school="uc-berkeley">UC Berkeley</a></li>
		<li><a class="yale" data-school="yale">Yale</a></li>
		<li><a class="university-of-chicago" data-school="university-of-chicago">University of Chicago</a></li>
		<li><a class="dartmouth" data-school="dartmouth">Dartmouth</a></li>
		<li><a class="stanford" data-school="stanford">Stanford</a></li>
		<li><a class="university-of-pennsylvania" data-school="university-of-pennsylvania">University of Pennsylvania</a></li>
		<li><a class="ucla" data-school="ucla">UCLA</a></li>
		<li><a class="northwestern" data-school="northwestern">Northwestern</a></li>
		<li><a class="george-washington-university" data-school="george-washington-university">George Washington University</a></li>
		<li><a class="boston-university" data-school="boston-university">Boston University</a></li>
	</ul>
</div>