<a class="school-anchor" id="{{ section.school | slugify }}"></a>

<section class="school" data-school="{{ section.school | slugify }}">

	<h2 class="school-header {{ section.school | slugify }}" id="">{{ section.name }} <a href="#{{ section.school | slugify }}"><i class="fa fa-link" aria-hidden="true"></i></a></h2>

	<p class="help"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
	 &nbsp; Click a bar to go to the post</p>

	 <div style="margin: 0 auto;" class="school-timeline" id="{{ section.school | slugify }}-timeline"></div>

	<div class="school-gallery row">
		{% for meme in DATA.memes %}
		{% if meme.school == section.school %}
		{% if meme.include == 'yes' %}
		<div class="col-sm-4">
			<div class="meme-wrapper {{ meme.school | slugify }}">
				<p class="info"><span class="index {{ meme.school | slugify }}">{{ meme.index }}</span> <br />{{ meme.num_reactions|formatThousands }} reactions <span class="date">{{ meme.date | formatDate }}</span></p>
				<div class="meme">
					<p class="message">{{ meme.message }}</p>
					<a target="_blank" href="{{ meme.permalink_url }}"><img src="images/{{ meme.post_id }}.jpg"></a>
					<p class="credit">Credit: {{ meme.from_name }}</p>
				</div>
				{% if meme.note %}
					<div class="caption">{{ meme.note | markdown }}</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>

</section>