.school-anchor {
	display: block;
	position: relative;
	visibility: hidden;
	top: -50px;

	@media (max-width: $width-small) {
	    top: 0;
	}
}

.school-header {
	@media (max-width: $width-small) {
	    font-size: 16px;
	    margin-bottom: 20px;
	}

	font-family: $sans;
	text-align: center;
	border-bottom: 3px solid black;
	line-height: 1.5;

	.fa {
		font-size: 16px;
		margin-left: 10px;
		color: $medium-gray;

		@media (max-width: $width-small) {
		    display: none;
		}
	}

	@each $school, $color in $schools {
    	&.#{$school} {
    		border-bottom: 3px solid $color;
    	}
    }
}

.help {
	font-family: $sans;
	text-align: center;
	font-size: 14px;
	margin: 10px auto 0 auto;

	@media (max-width: $width-small) {
	    display: none;
	}
}

.school-gallery {
	.col-md-4 {
		padding: 0 40px;

		@media (max-width: $width-small) {
		    padding: 0 20px ;
		}
	}

	.meme-wrapper {
		padding: 10px;
		font-size: 16px;
	}

	img {
		width: 100%;
		max-width: 300px;
	}

	.img-wrapper {
		text-align: center;
	}

	.index {
		width: 25px;
		height: 25px;
		border-radius: 25px;
		background: black;
		display: inline-block;
		line-height: 25px;
		color: white;
		margin-bottom: 5px;
		text-align: center;
	}

	.info {
		font-family: $sans;
		text-align: center;
		margin: 0;
		font-size: 14px;
		font-weight: 600;
		color: $dark-grey;

		.date {
			font-weight: 200;
			margin-left: 10px;
		}
	}

	hr {
		margin: 10px 0;
	}

	.message {
		font-family: $sans;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.credit {
		font-family: $sans;
		font-size: 10px;
		margin-top: 5px;
		color: $medium-gray;
	}
	.caption {
		font-family: $serif;
		font-size: 14px;
		padding: 0 10px;
	}

	.meme {
		margin-top: 5px;
		border: 1px solid $light-gray;
		padding: 10px;
	}

	@each $school, $color in $schools {
	    .#{$school} {
	    	&.index {
	    		background: $color;
	    	}
	    }
    }
}